@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Bengali:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-main: "Noto Sans Bengali", sans-serif;

  --color-primary: #2e7d32;
  --color-primary-hover: #1b5e20;
  --color-secondary: #ff9800;
  --color-bg: #f3f4f6;
  --color-text-main: #1f2937;
  --color-text-muted: #6b7280;
  --color-border: #e5e7eb;
  --color-danger: #ef4444;
  --color-success: #10b981;
}

@layer base {
  body {
    @apply font-main bg-bg text-text-main antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }
}